html{-webkit-text-size-adjust:100%;box-sizing:border-box;-moz-tab-size:4;tab-size:4;word-break:normal}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{margin:0;padding:0}hr{color:inherit;height:0;overflow:visible}details,main{display:block}summary{display:list-item}small{font-size:80%}[hidden]{display:none}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}a{background-color:transparent}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}pre{font-size:1em}b,strong{font-weight:bolder}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{border-color:inherit;text-indent:0}iframe{border-style:none}input{border-radius:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}button,select{text-transform:none}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,input,select,textarea{background-color:transparent;border-style:none}a:focus,button:focus,input:focus,select:focus,textarea:focus{outline-width:0}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;color:inherit;font:inherit}[disabled]{cursor:default}img{border-style:none}progress{vertical-align:baseline}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled=true]{cursor:default}
:root {
  --color-gray-100: #fff;
  --color-gray-150: #f9f9f9;
  --color-gray-200: #f5f6f7;
  --color-gray-250: #efefef;
  --color-gray-260: #e5e7ea;
  --color-gray-300: #dadada;
  --color-gray-400: #ccd0d5;
  --color-gray-500: #bec3c9;
  --color-gray-550: #adadad;
  --color-gray-600: #8d949e;
  --color-gray-650: #757474;
  --color-gray-700: #606770;
  --color-gray-800: #444950;
  --color-gray-850: #303846;
  --color-gray-900: #2c323c;
  --color-gray-950: #1c1e21;
  --color-blue-200: #ebeef5;
  --scrollbar: #eee;
  --scrollbar-hover: #bbb;
  --color-bg: #fff;
  --color-scrollbar: #eee;
  --color-scrollbar-hover: #bbb;
  --color-font: #555;
  --color-font-deep: #222;
  --color-font-deeper: #000;
  --color-link: #648ece;
}
html.dark {
  --color-gray-100: #1c1e21;
  --color-gray-150: #2c323c;
  --color-gray-200: #303846;
  --color-gray-250: #444950;
  --color-gray-260: #555b64;
  --color-gray-300: #606770;
  --color-gray-400: #757474;
  --color-gray-500: #8d949e;
  --color-gray-550: #959595;
  --color-gray-600: #bec3c9;
  --color-gray-650: #ccd0d5;
  --color-gray-700: #dadada;
  --color-gray-800: #eaecef;
  --color-gray-850: #f5f6f7;
  --color-gray-900: #f9f9f9;
  --color-gray-950: #fff;
  --color-blue-200: #444950;
  --color-bg: #050505;
  --color-scrollbar: #111;
  --color-scrollbar-hover: #222;
  --color-font: #bbb;
  --color-font-deep: #ddd;
  --color-font-deeper: #fff;
  --color-link: #4c7eca;
}
::selection {
  color: #fff;
  background-color: rgba(213,213,213,0.835);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  scrollbar-color: var(--color-scrollbar) var(--color-bg);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
html {
  background-color: var(--color-bg);
  color: var(--color-font);
  transition: color 0.2s, background-color 0.2s;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 0.5;
}
h1 {
  color: var(--color-font-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.9em;
  line-height: 1.11;
}
h2 {
  color: var(--color-font-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.33;
}
h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  opacity: 0.7;
}
h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
p {
  margin: 0 0 1.25rem;
}
a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}
a.header-anchor {
  float: left;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 1em;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
main {
  padding: 2.5rem 1.75rem;
  padding-bottom: 0;
  color: var(--color-font);
  padding-top: calc(5.8rem + 2.5rem);
}
main canvas {
  opacity: 0.9;
  z-index: -1;
  mask-image: radial-gradient(circle, transparent, #000);
  --webkit-mask-image: radial-gradient(circle, transparent, #000);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content>*:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
  .slide-enter-content>*:nth-child(1) {
    --enter-stage: 1 !important;
  }
  .slide-enter-content>*:nth-child(2) {
    --enter-stage: 2 !important;
  }
  .slide-enter-content>*:nth-child(3) {
    --enter-stage: 3 !important;
  }
  .slide-enter-content>*:nth-child(4) {
    --enter-stage: 4 !important;
  }
  .slide-enter-content>*:nth-child(5) {
    --enter-stage: 5 !important;
  }
  .slide-enter-content>*:nth-child(6) {
    --enter-stage: 6 !important;
  }
  .slide-enter-content>*:nth-child(7) {
    --enter-stage: 7 !important;
  }
  .slide-enter-content>*:nth-child(8) {
    --enter-stage: 8 !important;
  }
  .slide-enter-content>*:nth-child(9) {
    --enter-stage: 9 !important;
  }
  .slide-enter-content>*:nth-child(10) {
    --enter-stage: 10 !important;
  }
  .slide-enter-content>*:nth-child(11) {
    --enter-stage: 11 !important;
  }
  .slide-enter-content>*:nth-child(12) {
    --enter-stage: 12 !important;
  }
  .slide-enter-content>*:nth-child(13) {
    --enter-stage: 13 !important;
  }
  .slide-enter-content>*:nth-child(14) {
    --enter-stage: 14 !important;
  }
  .slide-enter-content>*:nth-child(15) {
    --enter-stage: 15 !important;
  }
  .slide-enter-content>*:nth-child(16) {
    --enter-stage: 16 !important;
  }
  .slide-enter-content>*:nth-child(17) {
    --enter-stage: 17 !important;
  }
  .slide-enter-content>*:nth-child(18) {
    --enter-stage: 18 !important;
  }
  .slide-enter-content>*:nth-child(19) {
    --enter-stage: 19 !important;
  }
  .slide-enter-content>*:nth-child(20) {
    --enter-stage: 20 !important;
  }
}
@-moz-keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
@-webkit-keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
@-o-keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
.header .nav {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  z-index: 1;
  position: fixed;
  transition: box-shadow 0.2s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header .nav.fixed {
  box-shadow: 0px 1px 4px var(--color-scrollbar);
}
.header .nav .menu {
  display: grid;
  grid-gap: 2.2rem;
  grid-auto-flow: column;
}
.header .nav .menu-item {
  transition: opacity 0.2s ease;
  opacity: 0.6;
  color: inherit;
}
.header .nav .menu-item:hover {
  opacity: 1;
  text-decoration-color: inherit;
}
article .content {
  margin: 0 auto;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
article .content ul .date {
  height: 5rem;
  position: relative;
  pointer-events: none;
}
article .content ul .date span {
  position: absolute;
  top: -2rem;
  left: -3rem;
  opacity: 0.1;
  -webkit-text-stroke-color: #aaa;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-weight: 700;
  font-size: 8em;
}
article .content ul .item {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
article .content ul .item a {
  transition: 0.2s all ease-out;
  text-decoration: none;
  opacity: 0.6;
  color: var(--color-font-deeper);
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  cursor: default;
  margin: 0.5rem 0;
}
article .content ul .item a:hover {
  opacity: 1;
  cursor: pointer;
}
article .content ul .item a .item-title {
  line-height: 1.2em;
  font-size: 1.125rem;
}
article .content ul .item a .item-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
article .content ul .item a .item-meta span {
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 2px;
}
.slide-enter-50 {
  --enter-stage: 50;
}
.post-header {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
.post-header>:first-child {
  margin-top: 0;
}
.post-header h1 {
  color: var(--color-font-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.9em;
  line-height: 1.1;
  opacity: 0.9;
}
.post-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
  margin-top: -1.5rem;
  color: var(--color-font-deep);
}
.post-tags {
  max-width: 65ch;
  margin: 0 auto;
}
.post-tags-item {
  margin: 0 0.5rem;
}
.post-tags-item:hover {
  cursor: pointer;
}
.post-tags-item__icon,
.post-tags-item__link {
  margin: 0.1rem;
  color: $post-tags-icon-color;
  transition: color 0.2s;
}
.post-tags-item:hover .post-tags-item__icon,
.post-tags-item:hover .post-tags-item__link {
  color: $orange-dark;
}
article .content {
  margin: 0 auto;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
article .content p a {
  color: var(--color-link);
}
article .content p a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  color: var(--color-font);
  margin: 2.5rem auto;
  max-width: 65ch;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer .footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-powered {
  margin-top: 0.5rem;
}
.footer a:hover {
  opacity: 0.8;
  box-shadow: 0 1px;
}
.footer .icon,
.footer .devider {
  margin: 0 0.2rem;
}
.paginator {
  margin: 2rem auto;
  text-align: center;
  max-width: 65ch;
  user-select: none;
  font-size: 1rem;
  line-height: 1.75;
}
.paginator.post-paginator .paginator-inner {
  width: 100%;
}
.paginator-inner {
  width: 50%;
  padding: 12px 0;
  position: relative;
}
.paginator .page-number,
.paginator .prev,
.paginator .next {
  display: inline-block;
  margin: 0 0.5em;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  transition: border 0.2s ease;
  opacity: 0.5;
}
.paginator .page-number:not(.current):hover,
.paginator .prev:not(.current):hover,
.paginator .next:not(.current):hover {
  opacity: 0.75;
}
.paginator .space {
  opacity: 0.6;
}
.paginator .extend {
  position: absolute;
  margin: 0;
}
.paginator .extend i {
  font-size: inherit;
}
.paginator .next {
  right: 0;
}
.paginator .prev {
  left: 0;
}
.paginator .current {
  color: var(--color-gray-900);
  opacity: 1;
}
.paginator.post-paginator {
  height: 50px;
}
.back2top {
  position: fixed;
  right: 1.5rem;
  bottom: 6rem;
  transition: all 0.3s ease-out;
  text-decoration: none;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.back2top.show {
  opacity: 0.3;
  cursor: pointer;
}
.back2top.show:hover {
  opacity: 0.9;
  background-color: rgba(136,136,136,0.2);
}
.back2top__icon {
  font-size: 1rem;
}
.dark-mode {
  position: relative;
  border: 0;
  padding: 0;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  width: 1.2em;
  height: 1.2em;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  color: inherit;
}
.dark-mode:hover {
  opacity: 1;
}
.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.loading-bar__progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #919191;
  box-shadow: 0 0 10px #909090;
}
.loading-bar.loading {
  opacity: 1;
  transition: none;
}
.loading-bar.loading .loading-bar__progress {
  transition: width 0.4s ease;
}
:root {
  --highlight-color: #333;
  --highlight-background: #f5f6f7;
  --highlight-side-color: #adadad;
  --highlight-side-bg-color: var(--highlight-background);
  --highlight-header-color: var(--highlight-color);
  --highlight-header-bg-color: var(--highlight-side-bg-color);
  --highlight-code-lang-color: #adadad;
  --highlight-code-note-color: var(--highlight-header-color);
  --copy-button-color: #adadad;
  --gap-line-color: #dadde1;
  --marked-line-bg-color: #e5e7ea;
  --highlight-comment: #969896;
  --highlight-red: #c82829;
  --highlight-orange: #ee8019;
  --highlight-yellow: #eab700;
  --highlight-green: #4eb4b4;
  --highlight-aqua: #4dc14c;
  --highlight-blue: #2a75c8;
  --highlight-purple: #be4dbc;
}
html.dark {
  --highlight-color: rgba(219,215,202,0.933);
  --highlight-background: #0e0e0e;
  --highlight-side-color: var(--color-gray-550);
  --highlight-side-bg-color: var(--color-gray-200);
  --highlight-header-color: var(--color-gray-850);
  --highlight-header-bg-color: var(--color-gray-200);
  --highlight-code-lang-color: var(--color-gray-550);
  --highlight-code-note-color: var(--color-gray-850);
  --copy-button-color: var(--color-gray-550);
  --gap-line-color: var(--color-gray-300);
  --marked-line-bg-color: var(--color-gray-260);
}
:root {
  --highlight-color: #333;
  --highlight-background: #f5f6f7;
  --highlight-side-color: #adadad;
  --highlight-side-bg-color: var(--highlight-background);
  --highlight-header-color: var(--highlight-color);
  --highlight-header-bg-color: var(--highlight-side-bg-color);
  --highlight-code-lang-color: #adadad;
  --highlight-code-note-color: var(--highlight-header-color);
  --copy-button-color: #adadad;
  --gap-line-color: #dadde1;
  --marked-line-bg-color: #e5e7ea;
  --highlight-comment: #969896;
  --highlight-red: #c82829;
  --highlight-orange: #ee8019;
  --highlight-yellow: #eab700;
  --highlight-green: #4eb4b4;
  --highlight-aqua: #4dc14c;
  --highlight-blue: #2a75c8;
  --highlight-purple: #be4dbc;
}
html.dark {
  --highlight-color: rgba(219,215,202,0.933);
  --highlight-background: #0e0e0e;
  --highlight-side-color: var(--color-gray-550);
  --highlight-side-bg-color: var(--color-gray-200);
  --highlight-header-color: var(--color-gray-850);
  --highlight-header-bg-color: var(--color-gray-200);
  --highlight-code-lang-color: var(--color-gray-550);
  --highlight-code-note-color: var(--color-gray-850);
  --copy-button-color: var(--color-gray-550);
  --gap-line-color: var(--color-gray-300);
  --marked-line-bg-color: var(--color-gray-260);
}
:root {
  --highlight-addition-color: #292;
  --highlight-addition-bg-color: #f0fff4;
  --highlight-deletion-color: #d44;
  --highlight-deletion-bg-color: #ffeef0;
}
html.dark {
  --highlight-addition-color: #292;
  --highlight-addition-bg-color: transparent;
  --highlight-deletion-color: #d44;
  --highlight-deletion-bg-color: transparent;
}
.highlight {
  display: block;
  padding: 1rem;
}
.highlight figcaption span:first-child::before {
  margin: 0 0.6rem 0 0;
  color: var(--highlight-code-lang-color);
}
.highlight.markdown figcaption span:first-child::before {
  content: 'markdown';
}
.highlight.md figcaption span:first-child::before {
  content: 'md';
}
.highlight.diff figcaption span:first-child::before {
  content: 'diff';
}
.highlight.javascript figcaption span:first-child::before {
  content: 'javascript';
}
.highlight.js figcaption span:first-child::before {
  content: 'js';
}
.highlight.typescript figcaption span:first-child::before {
  content: 'typescript';
}
.highlight.ts figcaption span:first-child::before {
  content: 'ts';
}
.highlight.java figcaption span:first-child::before {
  content: 'java';
}
.highlight.json figcaption span:first-child::before {
  content: 'json';
}
.highlight.html figcaption span:first-child::before {
  content: 'html';
}
.highlight.xml figcaption span:first-child::before {
  content: 'xml';
}
.highlight.css figcaption span:first-child::before {
  content: 'css';
}
.highlight.less figcaption span:first-child::before {
  content: 'less';
}
.highlight.scss figcaption span:first-child::before {
  content: 'scss';
}
.highlight.stylus figcaption span:first-child::before {
  content: 'stylus';
}
.highlight.styl figcaption span:first-child::before {
  content: 'styl';
}
.highlight.sql figcaption span:first-child::before {
  content: 'sql';
}
.highlight.bash figcaption span:first-child::before {
  content: 'bash';
}
.highlight.shell figcaption span:first-child::before {
  content: 'shell';
}
.highlight.python figcaption span:first-child::before {
  content: 'python';
}
.highlight.py figcaption span:first-child::before {
  content: 'py';
}
.highlight.ruby figcaption span:first-child::before {
  content: 'ruby';
}
.highlight.cpp figcaption span:first-child::before {
  content: 'cpp';
}
.highlight.c\+\+ figcaption span:first-child::before {
  content: 'c\+\+';
}
.highlight.c\# figcaption span:first-child::before {
  content: 'c\#';
}
.highlight.go figcaption span:first-child::before {
  content: 'go';
}
.highlight.kotlin figcaption span:first-child::before {
  content: 'kotlin';
}
.highlight.kt figcaption span:first-child::before {
  content: 'kt';
}
.highlight.objectivec figcaption span:first-child::before {
  content: 'objectivec';
}
.highlight.php figcaption span:first-child::before {
  content: 'php';
}
.highlight.perl figcaption span:first-child::before {
  content: 'perl';
}
.highlight.pl figcaption span:first-child::before {
  content: 'pl';
}
.highlight.pm figcaption span:first-child::before {
  content: 'pm';
}
.highlight.rust figcaption span:first-child::before {
  content: 'rust';
}
.highlight.rs figcaption span:first-child::before {
  content: 'rs';
}
.highlight.swift figcaption span:first-child::before {
  content: 'swift';
}
.highlight.coffeescript figcaption span:first-child::before {
  content: 'coffeescript';
}
.highlight.coffee figcaption span:first-child::before {
  content: 'coffee';
}
.highlight.lua figcaption span:first-child::before {
  content: 'lua';
}
.highlight.yaml figcaption span:first-child::before {
  content: 'yaml';
}
.highlight.yml figcaption span:first-child::before {
  content: 'yml';
}
.highlight.nginx figcaption span:first-child::before {
  content: 'nginx';
}
.highlight.dockerfile figcaption span:first-child::before {
  content: 'dockerfile';
}
.highlight.makefile figcaption span:first-child::before {
  content: 'makefile';
}
.highlight {
  margin: 0 0 1rem;
  border-radius: 0.25rem;
  width: 100%;
  line-height: var(--line-height-codeblock);
  color: var(--marked-line-bg-colo) r;
  background-color: var(--highlight-background);
  overflow-x: auto;
}
.highlight pre,
.highlight code {
  font-family: var(--font-family-code);
}
.highlight pre {
  margin: 0;
}
.highlight td {
  border-width: 0;
}
.highlight figcaption {
  position: relative;
  width: 100%;
  color: var(--highlight-header-color);
  background-color: var(--highlight-header-bg-color);
  padding: 0.1rem 0;
}
.highlight figcaption span:first-child {
  float: left;
  margin-left: 0.5rem;
  color: var(--highlight-code-note-color);
}
.highlight figcaption span.external-link {
  float: right;
  margin-right: 2em;
}
.highlight figcaption.custom {
  min-height: 1.5rem;
  border-radius: 0.25rem;
}
.highlight figcaption.custom .custom-lang {
  float: left;
  margin: 0 0.6rem;
  color: var(--highlight-code-lang-color);
}
.highlight td.gutter {
  border-right: 1px solid var(--gap-line-color);
  padding: 0.4rem 0.6rem;
  width: 2rem;
  background-color: var(--highlight-side-bg-color);
  border-radius: 0.25rem;
}
.highlight td.gutter pre {
  text-align: right;
  white-space: nowrap;
  color: var(--highlight-side-color);
  background-color: inherit;
}
.highlight td.code {
  padding: 0.5rem 0.6rem;
}
.highlight .marked {
  background-color: var(--marked-line-bg-color);
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .comment {
  color: var(--highlight-comment);
}
.highlight .quote,
.highlight .params {
  color: var(--highlight-color);
}
.highlight .selector-tag,
.highlight .template-variable,
.highlight .variable,
.highlight .deletion,
.highlight .regexp,
.highlight .name,
.highlight .tag {
  color: var(--highlight-red);
}
.highlight .builtin-name,
.highlight .literal,
.highlight .number,
.highlight .type,
.highlight .meta,
.highlight .link {
  color: var(--highlight-orange);
}
.highlight .class .keyword:first-child + .title,
.highlight .built_in,
.highlight .attribute {
  color: var(--highlight-yellow);
}
.highlight .class .keyword ~ .title,
.highlight .string .template-variable,
.highlight .meta-string,
.highlight .tag,
.highlight .class,
.highlight .subst,
.highlight .regexp {
  color: var(--highlight-green);
}
.highlight .string,
.highlight .symbol,
.highlight .bullet,
.highlight .addition {
  color: var(--highlight-aqua);
}
.highlight .title,
.highlight .section {
  color: var(--highlight-blue);
}
.highlight .meta-keyword,
.highlight .doctag,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-class,
.highlight .selector-pseudo,
.highlight .function,
.highlight .tag .attr,
.highlight .keyword {
  color: var(--highlight-purple);
}
.bash .meta,
.rust .meta {
  color: var(--highlight-comment);
}
.c\+\+ .built_in,
.cpp .built_in,
.ini .variable,
.ini .literal,
.ini .number,
.less .variable,
.scss .variable,
.styl .variable,
.stylus .variable {
  color: var(--highlight-color);
}
.html .meta,
.xml .meta,
.yaml .attr,
.yml .attr {
  color: var(--highlight-red);
}
.js .params,
.javascript .params {
  color: var(--highlight-orange);
}
.json .attr,
.swift .type {
  color: var(--highlight-yellow);
}
.variable .variable,
.bash .variable,
.c\+\+ .meta,
.cpp .meta,
.c\# .meta,
.css .number,
.diff .meta {
  color: var(--highlight-green);
}
.md .section,
.markdown .section,
.py .string .meta,
.python .string .meta {
  color: var(--highlight-aqua);
}
.bash .built_in,
.css .built_in,
.go .built_in,
.py .meta,
.python .meta,
.shell .meta,
.shell .keyword,
.shell .built_in {
  color: var(--highlight-blue);
}
.ini .attr,
.objectivec .meta,
.yaml .type,
.yml .type {
  color: var(--highlight-purple);
}
.diff .addition {
  color: var(--highlight-addition-color);
  background-color: var(--highlight-addition-bg-color);
}
.diff .deletion {
  color: var(--highlight-deletion-color);
  background-color: var(--highlight-deletion-bg-color);
}
:root {
  --highlight-addition-color: #292;
  --highlight-addition-bg-color: #f0fff4;
  --highlight-deletion-color: #d44;
  --highlight-deletion-bg-color: #ffeef0;
}
html.dark {
  --highlight-addition-color: #292;
  --highlight-addition-bg-color: transparent;
  --highlight-deletion-color: #d44;
  --highlight-deletion-bg-color: transparent;
}
