.header .nav {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  z-index: 1;
  position: fixed;
  transition: box-shadow 0.2s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header .nav.fixed {
  box-shadow: 0px 1px 4px var(--color-scrollbar);
}
.header .nav .menu {
  display: grid;
  grid-gap: 2.2rem;
  grid-auto-flow: column;
}
.header .nav .menu-item {
  transition: opacity 0.2s ease;
  opacity: 0.6;
  color: inherit;
}
.header .nav .menu-item:hover {
  opacity: 1;
  text-decoration-color: inherit;
}
article .content {
  margin: 0 auto;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
article .content ul .date {
  height: 5rem;
  position: relative;
  pointer-events: none;
}
article .content ul .date span {
  position: absolute;
  top: -2rem;
  left: -3rem;
  opacity: 0.1;
  -webkit-text-stroke-color: #aaa;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-weight: 700;
  font-size: 8em;
}
article .content ul .item {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
article .content ul .item a {
  transition: 0.2s all ease-out;
  text-decoration: none;
  opacity: 0.6;
  color: var(--color-font-deeper);
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  cursor: default;
  margin: 0.5rem 0;
}
article .content ul .item a:hover {
  opacity: 1;
  cursor: pointer;
}
article .content ul .item a .item-title {
  line-height: 1.2em;
  font-size: 1.125rem;
}
article .content ul .item a .item-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
article .content ul .item a .item-meta span {
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 2px;
}
.slide-enter-50 {
  --enter-stage: 50;
}
.post-header {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
.post-header>:first-child {
  margin-top: 0;
}
.post-header h1 {
  color: var(--color-font-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.9em;
  line-height: 1.1;
  opacity: 0.9;
}
.post-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
  margin-top: -1.5rem;
  color: var(--color-font-deep);
}
.post-tags {
  max-width: 65ch;
  margin: 0 auto;
}
.post-tags-item {
  margin: 0 0.5rem;
}
.post-tags-item:hover {
  cursor: pointer;
}
.post-tags-item__icon,
.post-tags-item__link {
  margin: 0.1rem;
  color: $post-tags-icon-color;
  transition: color 0.2s;
}
.post-tags-item:hover .post-tags-item__icon,
.post-tags-item:hover .post-tags-item__link {
  color: $orange-dark;
}
article .content {
  margin: 0 auto;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
article .content p a {
  color: var(--color-link);
}
article .content p a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  color: var(--color-font);
  margin: 2.5rem auto;
  max-width: 65ch;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer .footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-powered {
  margin-top: 0.5rem;
}
.footer a:hover {
  opacity: 0.8;
  box-shadow: 0 1px;
}
.footer .icon,
.footer .devider {
  margin: 0 0.2rem;
}
